<header class="bg-primary-lightest">
  <div class="container mx-auto flex flex-row justify-between">
    <a href="/" class="float-left flex"><img src="{{ 'assets/dist/images/favicon.svg'|theme }}" alt="logo" class="h-12"></a>
    <h2 class="hidden">Top navigation</h2>
    <nav class="flex">
        <ul id="nav_menu" class="flex flex-row">
            <li class="flex items-center px-4 font-semibold hover:bg-primary-dark bg-primary-light mr-1 text-white"><a href="/">Home</a></li>
            <li class="flex items-center px-4 font-semibold hover:bg-primary-dark bg-primary-light mr-1 text-white"><a href="https://tailwindcss.com/" target="_blank">TailwindCss</a></li>
            <li class="flex items-center px-4 font-semibold hover:bg-primary-dark bg-primary-light mr-1 text-white"><a href="https://octobercms.com">OctoberCMS</a></li>
        </ul>
    </nav>
    <div class="w-0 md:w-12"></div>
  </div>
</header>