<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="keywords" content="TabulaRasa, OctoberCMS, TailwindCSS">
<meta name="author" content="Website Author">
<title>A boilerplate theme using TailwindCSS</title>
<link rel="icon" type="image/svg" href="{{ 'assets/dist/images/favicon.svg'|theme }}" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Rubik:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% styles %}
<link rel="stylesheet" href="{{ 'assets/dist/css/app.css'|theme }}">